In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,Pune,Grey,First,Corporate,1198,FWD,3990,1680,1505,5,35.0
1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,Ludhiana,White,Second,Individual,1248,FWD,3995,1695,1555,5,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,Lucknow,Maroon,First,Individual,1197,FWD,3585,1595,1550,5,35.0
3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,Mangalore,Red,First,Individual,1197,FWD,3995,1745,1510,5,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,Mumbai,Grey,First,Individual,2393,RWD,4735,1830,1795,7,55.0

In [5]:
df.tail()

,Make,Model,Price,Year,Kilometer,FuelType,Transmission,Location,Color,Owner,SellerType,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
1869,Maruti Suzuki,Ritz Vxi (ABS) BS-IV,245000,2014,79000,Petrol,Manual,Faridabad,White,Second,Individual,1197,FWD,3775,1680,1620,5,43.0
1870,Mahindra,XUV500 W8 [2015-2017],850000,2016,90300,Diesel,Manual,Surat,White,First,Individual,2179,FWD,4585,1890,1785,7,70.0
1871,Hyundai,Eon D-Lite +,275000,2014,83000,Petrol,Manual,Ahmedabad,White,Second,Individual,814,FWD,3495,1550,1500,5,32.0
1872,Ford,Figo Duratec Petrol ZXI 1.2,240000,2013,73000,Petrol,Manual,Thane,Silver,First,Individual,1196,FWD,3795,1680,1427,5,45.0
1873,BMW,5-Series 520d Luxury Line [2017-2019],4290000,2018,60474,Diesel,Automatic,Coimbatore,White,First,Individual,1995,RWD,4936,1868,1479,5,65.0

In [6]:
df.describe()

,Price,Year,Kilometer,Engine,Length,Width,Height,SeatingCapacity,FuelTankCapacity
count,1.874000e+03,1874.000000,1.874000e+03,1874.000000,1874.000000,1874.000000,1874.000000,1874.000000,1874.000000
mean,1.718279e+06,2016.713447,5.317814e+04,1682.829242,4281.512807,1767.886339,1588.967983,5.295091,52.217343
std,2.426090e+06,3.138477,5.878833e+04,633.055721,436.220747,131.344883,134.627659,0.807008,15.167250
min,4.900000e+04,1988.000000,0.000000e+00,624.000000,3099.000000,1475.000000,1213.000000,2.000000,15.000000
25%,5.000000e+05,2015.000000,2.801975e+04,1197.000000,3985.000000,1695.000000,1485.000000,5.000000,42.000000
50%,8.424995e+05,2017.000000,4.879750e+04,1497.000000,4360.000000,1770.000000,1544.000000,5.000000,50.000000
75%,1.908250e+06,2019.000000,7.100000e+04,1995.000000,4620.000000,1831.000000,1670.750000,5.000000,60.000000
max,3.500000e+07,2022.000000,2.000000e+06,6592.000000,5569.000000,2220.000000,1995.000000,8.000000,105.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Make              1874 non-null   object
 1   Model             1874 non-null   object
 2   Price             1874 non-null   int64
 3   Year              1874 non-null   int64
 4   Kilometer         1874 non-null   int64
 5   FuelType          1874 non-null   object
 6   Transmission      1874 non-null   object
 7   Location          1874 non-null   object
 8   Color             1874 non-null   object
 9   Owner             1874 non-null   object
 10  SellerType        1874 non-null   object
 11  Engine            1874 non-null   int64
 12  Drivetrain        1874 non-null   object
 13  Length            1874 non-null   int64
 14  Width             1874 non-null   int64
 15  Height            1874 non-null   int64
 16  SeatingCapacity   1874 non-null   int64
 17  FuelTankCapacity  1874 non-null   float64
dtypes: float64(1), int64(8), object(9)
memory usage: 263.7+ KB

In [8]:
df.dtypes

Make                 object
Model                object
Price                 int64
Year                  int64
Kilometer             int64
FuelType             object
Transmission         object
Location             object
Color                object
Owner                object
SellerType           object
Engine                int64
Drivetrain           object
Length                int64
Width                 int64
Height                int64
SeatingCapacity       int64
FuelTankCapacity    float64
dtype: object

In [9]:
df.isnull().sum()

Make                0
Model               0
Price               0
Year                0
Kilometer           0
FuelType            0
Transmission        0
Location            0
Color               0
Owner               0
SellerType          0
Engine              0
Drivetrain          0
Length              0
Width               0
Height              0
SeatingCapacity     0
FuelTankCapacity    0
dtype: int64

In [10]:
df.columns

Index(['Make', 'Model', 'Price', 'Year', 'Kilometer', 'FuelType',
       'Transmission', 'Location', 'Color', 'Owner', 'SellerType', 'Engine',
       'Drivetrain', 'Length', 'Width', 'Height', 'SeatingCapacity',
       'FuelTankCapacity'],
      dtype='object')

In [11]:
print(f" rows {df.shape[0]}")
print(f" column {df.shape[1]}")

 rows 1874
 column 18

In [12]:
df = df.drop(["Model", "Location", "Color", "Kilometer", "Owner", "SellerType"], axis=1)

In [13]:
df.dtypes

Make                 object
Price                 int64
Year                  int64
FuelType             object
Transmission         object
Engine                int64
Drivetrain           object
Length                int64
Width                 int64
Height                int64
SeatingCapacity       int64
FuelTankCapacity    float64
dtype: object

In [14]:
data = pd.DataFrame({'Make':df['Make'].unique()})
data_LE = LabelEncoder()
data_LE.fit(np.ravel(data))

LabelEncoder()

In [15]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
        
columns = ['Make', 'FuelType', 'Transmission', 'Drivetrain']
convertObjToInt(columns)

In [16]:
from sklearn.preprocessing import LabelEncoder

def convertObjToInt(df, cols):
    encoders = {}
    for col in cols:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        encoders[col] = le  # save the encoder for future use
    return df, encoders

# Columns to convert
columns = ['Make', 'FuelType', 'Transmission', 'Drivetrain']

# Apply conversion
df, encoders = convertObjToInt(df, columns)

In [17]:
def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['FuelTankCapacity']
changeFloatToInt(columns)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1874 entries, 0 to 1873
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Make              1874 non-null   int64
 1   Price             1874 non-null   int64
 2   Year              1874 non-null   int64
 3   FuelType          1874 non-null   int64
 4   Transmission      1874 non-null   int64
 5   Engine            1874 non-null   int64
 6   Drivetrain        1874 non-null   int64
 7   Length            1874 non-null   int64
 8   Width             1874 non-null   int64
 9   Height            1874 non-null   int64
 10  SeatingCapacity   1874 non-null   int64
 11  FuelTankCapacity  1874 non-null   int64
dtypes: int64(12)
memory usage: 175.8 KB

In [19]:
df.head()

,Make,Price,Year,FuelType,Transmission,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,7,505000,2017,5,1,1198,1,3990,1680,1505,5,35
1,18,450000,2014,2,1,1248,1,3995,1695,1555,5,42
2,8,220000,2011,5,1,1197,1,3585,1595,1550,5,35
3,29,799000,2019,5,1,1197,1,3995,1745,1510,5,37
4,29,1950000,2018,2,1,2393,2,4735,1830,1795,7,55

In [20]:
df.to_csv('processed_data.csv', index=False, header=True)

In [21]:
df = pd.read_csv('processed_data.csv')
df

,Make,Price,Year,FuelType,Transmission,Engine,Drivetrain,Length,Width,Height,SeatingCapacity,FuelTankCapacity
0,7,505000,2017,5,1,1198,1,3990,1680,1505,5,35
1,18,450000,2014,2,1,1248,1,3995,1695,1555,5,42
2,8,220000,2011,5,1,1197,1,3585,1595,1550,5,35
3,29,799000,2019,5,1,1197,1,3995,1745,1510,5,37
4,29,1950000,2018,2,1,2393,2,4735,1830,1795,7,55
...,...,...,...,...,...,...,...,...,...,...,...,...
1869,18,245000,2014,5,1,1197,1,3775,1680,1620,5,43
1870,17,850000,2016,2,1,2179,1,4585,1890,1785,7,70
1871,8,275000,2014,5,1,814,1,3495,1550,1500,5,32
1872,6,240000,2013,5,1,1196,1,3795,1680,1427,5,45
1873,1,4290000,2018,2,0,1995,2,4936,1868,1479,5,65

In [22]:
import pandas as pd
df = pd.read_csv('processed_data.csv')
# df.info()
df.columns

Index(['Make', 'Price', 'Year', 'FuelType', 'Transmission', 'Engine',
       'Drivetrain', 'Length', 'Width', 'Height', 'SeatingCapacity',
       'FuelTankCapacity'],
      dtype='object')

In [23]:
X = df.drop('Price', axis=1)   # Dependant columns / Input columns
y = df['Price']                # Resultant columns / Output column

In [24]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.2, shuffle=False) # 80:20, 70:30, 60:40

In [25]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(1499, 11) (1499,)
(375, 11) (375,)

In [26]:
from catboost import CatBoostRegressor
from sklearn.metrics import r2_score, mean_squared_error
import pandas as pd
import numpy as np


cat_model = CatBoostRegressor(
    iterations=1000,
    learning_rate=0.05,
    depth=6,
    verbose=0,
    random_state=42
)

In [27]:
cat_model.fit(train_X, train_y)

In [28]:
y_pred = cat_model.predict(test_X)
y_pred

array([ 1031729.4264404 ,  1370291.47583417,   412665.1264105 ,
         793830.54640833,   832498.2189544 ,  2240403.67535982,
        2849254.50574133,   791771.41680427,   714186.0122412 ,
         264304.27046195,  5560026.77010552,  1114246.9206782 ,
         372141.14684252,   576502.8834873 ,   418785.49263326,
         795607.29082052,  1139784.63724573,   215127.85715453,
         633478.58243969,   490536.21849583,  1611756.99372969,
         337728.78713784,   311092.18899331,   605931.27975247,
         567846.80827319,  5102031.00491035,   307442.81589097,
        1473060.29582996,  1255312.50443839,   195640.20666333,
        3042287.29124854,   759815.38123636,   764242.83464166,
        4720004.78119248,   456024.95377692,  2479071.68360282,
         709932.83978499,  5375426.93585361,  1950145.76808614,
        4720004.78119248,  2140627.75453414,   640827.68325604,
         518661.80677622,   383066.56178969,   295551.74592075,
        1670799.82008367,   894196.85579292,   298664.02303326,
         257705.37919578,  3487810.61937971,  1326402.18934441,
         195640.20666333,   382278.16004533,   460126.37786926,
        4469394.36011486,  2155391.50926234,   497366.61754587,
         522763.15698629,   524623.95857714,  1636784.58793637,
         525299.64933887,  3654515.0055402 ,  3160871.08646738,
        3492307.24256752,   556729.71669898,   957755.38937783,
         347441.1967369 ,  2590569.61460733,  4049384.08865099,
         512992.98811431,   565021.10689528,  1081022.80939513,
        1544200.69960158,   501947.02632574,  8891741.93755096,
        1349513.50391551,   556262.79706893,  6555270.61853793,
        1331023.37459638,   414330.41546674,  2209872.3538595 ,
        5238943.32974473,   267987.85833903,  2553655.11126612,
        1076814.74289027,  1045622.85453432,   442607.18374544,
        1077138.67953739,   431767.81015149,   771358.76814059,
       10016197.13707891,  1169491.54749556,   320846.75099579,
        1084882.75067261,  4226014.68789048,  2965980.84240804,
        3052520.95163626,  5330495.7719336 ,   639337.56071868,
        2356357.56084034,   470253.90538193,  1058884.00721935,
        1620761.5486192 ,   530600.37789828,   812627.17639932,
        1124678.29697404,   630608.18258327,   431767.81015149,
         706836.44188363,  2402387.40990005,   681323.15237844,
         646243.40875556,   451370.56736179,  4704654.45172055,
        4776751.17766225,   956698.90882425,  6558037.43712282,
         507531.3030427 ,  8910798.13772555,   485969.83332658,
         351095.9107969 ,  3057332.24075782,  4612951.51299334,
        1227716.0807286 ,  8266642.85924418,  2264303.24350451,
        4680987.06977553,  4052989.70930886,   335122.90775617,
        2012860.48479446,  1965404.57049177,   347441.1967369 ,
         271727.08669098,  1623832.39945628,   531923.17191268,
        1603954.25245677,  1751419.6913023 ,   523081.43774504,
         725898.08410359,  1470482.87370255,  5250251.57493256,
        4933673.27027378,   371370.88250138,   502429.86092394,
        1634662.79222764,   769028.0670069 ,   442616.82478411,
         144586.447291  ,  2332783.88352193, 11889270.46689759,
         370767.72666243,  1911742.19530982,   637826.16832366,
         399681.51964437,  1329353.42676639,   862643.2949481 ,
         851262.20938652,  2212008.23877405,  4021395.39689884,
        1697456.31971336,  2849254.50574133,   737931.61285878,
         421278.62752665,   597014.11217627,   637925.3759563 ,
        1396414.94836   ,   980196.31465457,   629728.824263  ,
         683597.4689551 ,   371370.88250138,   985331.67931016,
         320846.75099579,   676967.99321242,  3260393.07428285,
        1100240.23004521,  1708223.71341332,  1716374.41923217,
        3333571.06390979,   451370.56736179,  3661584.56927016,
         720193.43935424,  1326402.18934441,  6658767.40404123,
        6338064.83473518,  1857946.91252587,   365540.55084374,
         408126.62388123,   349636.96415483,   559924.99927469,
         699731.71415112,   643760.96273734,  1529504.34489776,
         657241.29218249,   902940.99505876,   917700.165864  ,
         232458.49995354,   737931.61285878,  1942868.70805864,
         347441.1967369 ,  1479861.65858198,   268964.54727532,
         517517.13553651,  1849500.12405797,   750657.75295763,
        1146250.89915809,   271727.08669098,   902940.99505876,
         745441.9671024 ,  2027079.4845291 ,  4440667.53613161,
        1920642.51520708,  1417509.73560381,   766786.04467851,
        1005085.06195683,   537263.86210627,   241862.88469676,
         191468.05265154,   821690.31872547,  5768164.53533797,
         414909.44569547,   737931.61285878,  3297889.54330303,
        1466575.44436475,   501947.02632574,   259719.60393975,
         646243.40875556,   795607.29082052,  2012860.48479446,
         449273.69822785, 10465476.1630536 ,  1670799.82008367,
         195640.20666333,  3432524.95712834,   509574.85671866,
         125011.0117331 ,   625274.23878267,  1092393.10412508,
         544588.37745228,  1950145.76808614,   608438.03193859,
         429806.46803246,   678335.7123412 ,  2003936.8602783 ,
         387931.2937754 ,   764072.81321523,   825130.41327843,
        2248051.55725482,  1039598.77040511,  9822292.7165774 ,
         342121.26973467,  2685339.73311681,  2814936.56818329,
         619904.56823915,   606607.82529036,  2463170.10669364,
        3117421.97408497,  2909840.41111251,   803596.84089031,
         553445.23165617,  3679382.44564277,   862643.2949481 ,
         724939.09685046,   222667.16252918,   457705.44527662,
         392945.0158266 ,   775285.51716022,   227423.04211978,
        2815775.57547161,  1266796.82935881,   301405.031303  ,
         833416.2411131 ,   350490.98542071,  1852123.00269482,
         725898.08410359,   611714.59666727,   563704.32872543,
         688879.17200751,   518661.80677622,   390917.76651998,
        1055533.97425989,  1188206.93514055,   195640.20666333,
        1041512.6333221 ,   873015.44371125,   298902.02517716,
         478678.30126492,   650499.78637158,   478173.31510064,
        2072840.98228534,   383643.44513015,  4680987.06977553,
         433697.54020472,   807554.7326758 ,   418261.25086525,
        1213568.77820646,   382278.16004533,  2972820.86412633,
        1809502.37489486,  6295269.12012712,   548891.96747399,
        6594616.32674288,  5584525.79723302,  5681630.03355775,
        5413746.67350334,   699119.33572303,   559367.09437808,
         632377.93044532,  6771523.11465022,   379816.70760412,
         349636.96415483,   589803.15023418,   344456.52592598,
         570072.53028859,   796362.32694065,   342853.38479672,
        2497454.38252904,   388607.68841813,  2909840.41111251,
         737931.61285878,   203613.24068951,   652482.61457451,
         807554.7326758 ,   447475.63803268,   839318.32911184,
         479699.40275149,  2376028.82047995,  1399883.20942087,
         414105.56345766,   564219.53082616,  1125432.92134477,
         469531.51306315,   386803.42774334,  6594616.32674288,
        2946525.72655266,   271204.24905656,  5830047.89322869,
         446308.66105732,  1219822.22337441,  1620631.10372624,
         549668.33791601,   420577.58793686,  2013714.25542908,
        2605934.18674437,  1788814.19398796,   875748.15227806,
         479532.457393  ,   307821.51871969,   259719.60393975,
         893402.61190422,   445149.01354733,  1047124.50105665,
         246330.82951068,   946176.68051471,   342121.26973467,
         860276.35803097,   660279.51845419,  1582451.02161803,
        2236250.42522537,   650371.02847065,  1775193.13560568,
         320730.76307469,  2617384.59068684,  3126756.95814891,
         301405.031303  ,   807554.7326758 ,   573318.22033359,
         451406.02659098,  7395244.48863443,   825130.41327843,
        1077138.67953739,   439893.43166021,   892725.4781746 ,
         259730.33316521,   182761.16341716,  4049384.08865099])

In [29]:
r2 = r2_score(test_y, y_pred)
accuracy = round(r2 * 100, 2) 
rmse = np.sqrt(mean_squared_error(test_y, y_pred))

print(f"R2 Score: {accuracy} %")
print(f"Prediction Accuracy: {accuracy} %")
print(f"RMSE: {round(rmse)}")

R2 Score: 87.15 %
Prediction Accuracy: 87.15 %
RMSE: 809141

In [30]:
import pickle


model_path = "catboost_car_price_model.pkl"
with open(model_path, "wb") as file:
    pickle.dump(cat_model, file)

print(f"Model saved successfully at {model_path}")

Model saved successfully at catboost_car_price_model.pkl

In [34]:
import pickle
from sklearn.metrics import r2_score, root_mean_squared_error
 
with open("catboost_car_price_model.pkl", "rb") as file:
    loaded_model = pickle.load(file)

print("Model loaded successfully!")


y_pred_loaded = loaded_model.predict(test_X)


r2_loaded = r2_score(test_y, y_pred_loaded)
rmse_loaded = root_mean_squared_error(test_y, y_pred_loaded)


print(f"Loaded Model R2: {round(r2_loaded * 100, 2)}%")
print(f"Loaded Model RMSE: {round(rmse_loaded)}")

Model loaded successfully!
Loaded Model R2: 87.15%
Loaded Model RMSE: 809141

In [32]:
# Assuming your model is loaded
import pickle

# Load the model
with open("catboost_car_price_model.pkl", "rb") as file:
    model = pickle.load(file)

# Get feature names
feature_names = model.feature_names_
print("Columns the model was trained on:")
print(feature_names)

Columns the model was trained on:
['Make', 'Year', 'FuelType', 'Transmission', 'Engine', 'Drivetrain', 'Length', 'Width', 'Height', 'SeatingCapacity', 'FuelTankCapacity']

In [33]:
# Example
feature_names = train_X.columns.tolist()
print("Columns used for training:")
print(feature_names)

Columns used for training:
['Make', 'Year', 'FuelType', 'Transmission', 'Engine', 'Drivetrain', 'Length', 'Width', 'Height', 'SeatingCapacity', 'FuelTankCapacity']